In [1]:
import pandas as pd 
df1=pd.read_csv("Feature_score.csv") 
df1.shape

(328, 2)

In [2]:
col=df1['Genes']
col

0              HIC1
1      LOC100268168
2               ZP3
3              APC2
4               KAZ
           ...
323           CASC3
324          CARD14
325            BST1
326         SUGT1P1
327            PKP4
Name: Genes, Length: 328, dtype: object

In [3]:
df1.groupby('Genes').mean().reset_index()

       Genes     score
0      9-Sep  0.051250
1     A4GALT  0.240410
2       ABAT -0.073670
3    ABCA17P -0.133655
4      ACAP3 -0.025419
..       ...       ...
254   ZNF597 -0.189072
255   ZNF613  0.070109
256   ZNF826 -0.009384
257   ZNF836 -0.153154
258      ZP3 -0.047396

[259 rows x 2 columns]

In [4]:

X=df1.groupby('Genes', as_index=False).mean()

In [5]:
X.to_csv("259_features_scorevalue.csv")